<ion-view view-title="Add Route">
	<ion-content>
      		<div class="list">
        	<label class="item item-input">
          	<span class="input-label"></span>
          	<input type="text" id="start" value="" placeholder="Start point">
        	</label>
        	<label class="item item-input">
          	<span class="input-label"></span>
          	<input type="text" id="end" value="" placeholder="End point">
        	</label>
        		<div class="button-bar">
        			<a class="button button-dark" href="#/app/direct">Save</a>
        			<a class="button button-gray" href="#/app/home">Cancel</a>
        		</div>
      		</div>
	</ion-content>
</ion-view>