<ion-view>
	<ion-content>
		<div class="item item-input-inset">
			<label class="item item-input-wrapper">
			<input type="text" placeholder="Status">
			</label>
			<button class="button icon ion-camera"></button>
		</div>
   		<div class="item item-input-inset">
      		<label class="item item-input-wrapper">
      		<i class="icon ion-edit placeholder-icon"></i>
      		<input type="text" placeholder="Description">
      		</label>
   		</div>
   		<div class="button-bar">
        	<a class="button button-dark">Save</a>
        	<a class="button button-gray" href="#/app/home">Cancel</a>
        </div>
	</ion-content>
</ion-view>